@font-face {
    font-family: "Gotham Medium";
    src: url("font/Gotham Medium.otf");
}
@font-face {
    font-family: "Gotham Book";
    src: url("font/Gotham Book Regular.otf");
}
@font-face {
    font-family: "NSTS";
    src: url("font/NSTS.ttf");
}


/*
    ========= Global =========
*/

:root {     
    --good: hsl(101, 50%, 56%);
    --bad: hsl(0, 78%, 59%);
    --NA: hsl(0, 0%, 83%);
    --calm: hsl(216, 68%, 46%);
}

*{
    font-family: "Gotham Medium", -apple-system, sans-serif;
    /* font-smooth: auto; */
    -webkit-font-smoothing: auto;
}

html, body {
    margin: 0;
    padding: 0;
    height: auto;
}

body, html:focus-within {
    scroll-behavior: smooth;
    transition:scroll-behavior 1s linear;
}


/* Animation */
@keyframes jumping_jack {
    0% {top: 92%}
    2% {top: 93%}
    4% {top: 94%}
    6% {top: 93%}
    8% {top: 92%}
    10% {top: 93%}
    12% {top: 94%}
    14% {top: 93%}
    16% {top: 92%}
    
    100% {top: 92%}
}

@keyframes ringing {
    0% {fill: #333}
    50% {fill: #fff}
    100% {fill: #e84545}
}

/* STYLES */

a {
    text-decoration: none;
    color: rgb(23, 26, 32);
    padding:7px 7px;
}
a:hover{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    transition: background-color 0.5s linear;
}


/*
    ========= Header =========
*/

.header {
    margin: 0;
    padding: 0;
    position:absolute;

    display: flex;

    height:54px;
    width:100%;
    z-index: 2;
}

.header__ico {
    margin: 0 16px;
    height:54px;
    
    font-size: 16px;
    letter-spacing: 16px;
    flex:20%;

    display: flex;
}
.ico__item {
    height:min-content;
    margin: auto;
    flex:100%;
    opacity: .9;
    color: rgb(57, 60, 65);
    cursor: pointer;
    font-family: 'NSTS', Georgia, 'Times New Roman', Times, serif;
}

.header__menu {
    height:54px;
    flex:40%;
    display: flex;
    text-align: center;
}
.menu__item {
    height:min-content;
    margin: auto;
    flex:33.3333%;
    box-sizing: border-box;
    color: rgb(23, 26, 32);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.header__menu1 {
    margin: 0 16px;
    height:54px;
    flex:20%;
    display: flex;
    opacity: .9;
    color:rgb(23, 26, 32);
    text-align: center;
}
.menu__item1 {
    height:min-content;
    margin: auto;
    flex:50%;
    font-size: 14px;
    cursor: pointer;
}
._shown {
    display: flex;
}


/*  ===   Side Menu  ===   */
.side__Menu{
    position: absolute;
    top:0;
    right:0;
    z-index: 2;
}
.side__MenuInner{
    display: none;
    flex-direction: column;

    width: calc(100vw * 0.23);
    min-width: 250px;
    height:95vh;

    padding: 15px 10px;
    background-color:rgb(226, 227, 227);
    border-radius: 3px;
    
    font-size: 12px;
    text-align: left;
}
.side__MenuItem{
    padding: 10px 35px;
    color: rgb(57, 60, 65);
}
._hidden{
    display: none;
}
.side__close {
    margin: 5px 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}



/*
    ========= Body =========
*/

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

div {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

.item {    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.item__title {
    position:absolute;
    top:18%;
    
    margin:0;
    margin-block-start: 0;
    margin-block-end: 0;

    color: hsl(218, 7%, 24%);

    font-size: 40px;
    font-family: "Gotham Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: -0.6px;
    line-height: 48px;
}

.item__subtitle {
    position:absolute;
    top:28%;
    
    margin:0;
    margin-block-start: 0;
    margin-block-end: 0;

    color: hsl(220, 3%, 37%);
    font-family: "Gotham Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;

    letter-spacing: -0.5px;
    line-height: 19.8px;
    margin: 0px;

    min-height: 27px;
    text-align: center;
}

.itemTransformation {
    opacity: 0.9;
    transform: matrix(1, 0, 0, 1, 0, -20);
    transition-delay: 0.5s, 0.5s, 0.5s;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-property: transform, opacity, transform;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}
.subItemTransformation {
    opacity: 0.80;
    transform: matrix(1, 0, 0, 1, 0, -20);
    /* transition-delay: 0.3s, 0.7, 0.3s; */
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-property: transform, opacity, transform;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}

.image {
    width:100%;
}


/*
    ========= button_box =========
*/

.button_box{
    position:absolute;
    top:80%;
    box-sizing: border-box;
    
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;

    text-align: center;
}

.item__button{
    align-items: center;

    background-color: rgba(23, 26, 32);

    border-radius: 20px;
    border: none;

    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;

    font-size: 12px;
    inline-size: 256px;

    justify-content: center;
    margin: 0 calc(100vh / 50);

    max-inline-size: 400px;
    min-block-size: 40px;
    min-inline-size: 256px;
    min-width: 256px;

    opacity: 0.7;

    padding: 5px 40px; 

    text-align: center;
    text-transform: uppercase;
}

.item__button--white {
    
    background-color: rgba(255, 255, 255, 0.65);
    color: rgba(23, 26, 32);

    align-items: center;

    border-radius: 20px;
    border: none;

    display: inline-flex;
    cursor: pointer;

    font-size: 12px;
    line-height: 22px;

    justify-content: center;
    margin: 0 calc(100vh / 50);

    min-width: 256px;
    max-width: 400px;

    opacity: 0.5;

    padding: 9px 0; 

    text-align: center;
    text-transform: uppercase;
}

.arrow__next {
    position: absolute;
    width: 24px;
    animation:jumping_jack 5s infinite;
}



/*
    ========= Sign In Page =========
*/

.singBox{
    display: flex;
    justify-content: center;
}
.singBox_inner{
    width: 350px;
    display: flex;
    flex-direction: column;
}
.singInForm{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.title{
    font-size:34px;
    font-weight: 500;
    letter-spacing: -0.6px;
    color: rgb(23, 26, 32);
    margin: 20px 0;
    cursor: default;
}

.signItem{
    flex:100%;
    padding: 8px 0;
}

label.signItem{
    color: rgb(92, 94, 98);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 20px;
}

.signEmail, .signPassword, .signBtn{
    
    line-height:24px;

    background-color: rgb(57, 60, 65, .05);
    border: none;

    margin-bottom: 15px;
    border-radius: 25px;

    font-size: 14px;
    font-weight: 500;
    text-indent: 17px;
    color: rgb(57, 60, 65);
}
.signEmail:focus,.signPassword:focus,.signBtn:focus{
    outline: none;
    box-shadow: 0px 0px 2px rgb(57, 60, 65);
}
.signEmail:hover,.signPassword:hover{
    background-color: rgb(57, 60, 65, .1);
}

.signBtn{
    background-color: rgb(62, 106, 225, 0.9);
    
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.signBtn:hover{
    background-color: rgb(62, 106, 225);
}

.btnWhite{
    background-color: white;
    color: black;
    border: 3px solid rgb(23, 26, 32);
}
.btnWhite:hover{
    background-color: black;
    color: white;
    transition: background-color 0.2s linear;
}


/*   ====== Need Help ======   */
.need-help{
    margin:0;
    text-align: center;
}
.forgot-email, .forgot-password{
    line-height: 21px;

    font-size: 12px;
    font-weight: 400;
    color:rgb(57, 60, 65);
    text-decoration: underline rgb(57, 60, 65);
}

.separator{
    margin: 0 10px;
    cursor: default;
}

.forgot-email:hover, .forgot-password:hover{
    text-decoration-thickness: 2px;
}

.break-line{
    width:100%;
    text-align: center;
    text-transform: uppercase;

    margin: 45px 0;
    
    color: rgb(92, 94, 98);

    font-size: 14px;
    font-weight: 500;
    
    line-height: 21px;
    position: relative;
    cursor: default;
}

.break-line::before{
    position: absolute;
    margin: 0 10px;

    width: 40%;
    top: 10px;
    left: 0;

    border-bottom: 1px solid rgb(226, 227, 227);
    
    content: "";
}
.break-line::after{
    position: absolute;
    margin: 0 10px;

    width: 40%;
    top: 10px;
    right: 0;

    border-bottom: 1px solid rgb(226, 227, 227);
    
    content: "";
}


/* SPINNER */
.spinnerBox {
    display: none;
    width: 100vw;
    height: calc(100vh - 60px);
    /* display: flex; */
    justify-content: center;
    align-items: center;

    transition: display 1.5s linear;
}
.loadSipper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;
}
.spinner-sector {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 15px solid transparent;
    mix-blend-mode: overlay;
    opacity: 0.75;
}
.spinner-text {
    animation: loading 3s ease-in-out infinite;
    font-size: 2em;
}
.spinner-sector-1 {
    animation: rotate 2s ease-out infinite;
    border-top: 15px solid var(--calm);
}
.spinner-sector-2 {
    animation: rotate 2.5s ease-in infinite;
    border-top: 15px solid var(--bad);
}
.spinner-sector-3 {
    animation: rotate 1.5s ease-in-out infinite;
    border-top: 15px solid var(--good);
}
.spinner-sector-4 {
    animation: rotate 3s linear infinite;
    border-top: 15px solid var(--NA);
}

@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}
@keyframes loading {
    0%, 100% { opacity: 1; color: var(--calm);}
    25%, 75% { opacity: 0.5; }
    50% { opacity: 0.2; color: var(--bad);}
}


/*
    ========= Account Page =========
*/

.accountBox{
    display: none;
    transition: display 2s linear;
}
.accountBox_inner {
    flex: 100%;
    display: flex;
    flex-direction: column;
}
.accBoxRow {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 3px;
}
.accGeneralInfo {
    flex: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
._generalInfo{
    flex: 60%;
    display: block;
}
.generalTitle {
    width: 100%;
    color: rgb(23, 26, 32);
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 48px
}
.generalSubTitle {
    width: 100%;
    color: rgb(65, 73, 90);
    font-size: 16px;
    letter-spacing: -0.3px;
    margin-bottom: 10px;
}
.generalMenu {
    flex: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
}
._general {
    flex: 33.333333%;
}
._high1 {
    color: rgb(102, 102, 102, .75);
    font-size: 12px;
    font-weight: 200;
    line-height: 24px;
}
._selected {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 3px 3px 0 0;
    border-top: 1px solid white;
}
.accBlockTitle {
    flex: 25%;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
    cursor: pointer;
}
.accBlockTitle:hover {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}
.accBlock {
    display: none;
    flex: 100%;
    border: 1px solid  rgba(0, 0, 0, .1);
    border-radius: 0 0 3px 3px;
    padding: 5px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, .02)
}


/*--- Sign out ---*/
.signOut {
    display: inline;
    min-width: 50px;
    max-width: 75px;

    flex: 7%;
    font-family: "Oswald";
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin: auto 5px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 25px;
    cursor: pointer;
}

/*--- Survey ---*/
.btn--red {
    display: inline;
    min-width: 50px;
    max-width: 75px;

    flex: 10%;
    color: #fff;
    font-family: "Oswald";
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: #e84545;
    border-radius: 25px;
    margin: auto 0;
    padding: 5px 10px;
    box-shadow: rgb(51, 51, 51, .5) 0 0 10px;
}

/*--- Enrollment Block ---*/
.formsTitle {
    font-family: "Oswald";
    padding: 15px 5px;
    font-size: 1.7rem;
    color: white;
    background: #333;
}
._strong {
    font-family: "Oswald";
    color:wheat;
}
.formsContainer {
    border: 2px solid #0d6efd;
    border-radius: 13px 0px;
    padding: 10px;
}
.formsContainerRow {
    display:flex;
}
.formsContainerCol {
    font-family: "Oswald";
    flex:30%;
    font-size: 1.3rem;
    margin: 5px 2px;
}
.formsFildsetLegend {
    font-family: "Oswald";
    background: wheat;
    font-size: 1.2rem;
}
.formsNote {
    font-family: "Oswald";
    margin: 10px;
    font-size: 0.83rem;
}
.formsListItem {
    font-family: "Oswald";
    font-size: 1.3rem;
}
._inact {
    color: rgb(102, 102, 102, .75);
}
._a {
    text-decoration: underline;
    color: #0d6efd;
}
.formsContainerButton {
    font-family: "Oswald";
    border-radius: 5px;
    height: 3rem;
    border: 1px solid rgb(13, 110, 253, 0.2);
    flex:5%;
    font-size: 1.5rem;
    margin: 4rem 1rem;
    cursor: pointer;
}


/*--- Status Block ---*/
._flex {
    flex: 100%;
    display: flex;
}
.statusInner {
    flex: 25%;
    border-right: 1px solid  rgb(0, 0, 0, .05);
    margin-left: -1;
}
.innerTitle {
    font-size: 14px;
    line-height: 35px;
    text-align: left;
    margin: 0 7px;
    color: #0d6efd;
    font-family: "Oswald";
}
.areaBlock {
    width: 70%;
    min-width: 150px;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}
.areaStep {
     font-size: 13px;
    font-weight: 200;
    line-height: 50px;
    color: black;
    /* background: var(--NA); */

    background: -webkit-linear-gradient(135deg, var(--NA), #333);
    background: -moz-linear-gradient(135deg, var(--NA), #333);
    background: linear-gradient(135deg, var(--NA), #333);

    /* border: 1px solid rgb(0, 0, 0, .5); */
    border-radius: 25px;
    cursor: default;
}

.areaStep.passed {
    background: -webkit-linear-gradient(135deg, var(--good), #1d5c00);
    background: -moz-linear-gradient(135deg, var(--good), #1d5c00);
    background: linear-gradient(135deg, var(--good), #1d5c00);
    color: wheat
}
.areaStep.failed {
    background: -webkit-linear-gradient(135deg, var(--bad), #670000);
    background: -moz-linear-gradient(135deg, var(--bad), #670000);
    background: linear-gradient(135deg, var(--bad), #670000);
    color: white
}

.arrow_down {
    width:100%;
    height: 25px;
    fill: rgb(0, 0, 0, .7);
}
.arrow_next {
    width:100%;
    height: 25px;
    margin: 15px 0 5px 0;
    fill: #0d6efd;
}
.detailsTitle {
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    color: #0d6efd;
    font-family: "Oswald";
    border-top: 1px solid  rgb(0, 0, 0, .05);
    border-bottom: 1px solid  rgb(0, 0, 0, .05);
    border-right: none;
}

/* --- Details --- */
.pass_fail {
    width:23%;
    height: 30px;
    margin: 15px 0 5px 0;
    fill: var(--NA);
}
.test_eval_title {
    width:54%;
    height: 40px;
    margin: 20px 0 0 0;
    justify-content: center;
}
.mainDataTitle {
    width:25%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.list_type {
    line-height: 1.5em;
}
.mainDataList, .expulWork, .limitsList {
    color: var(--calm);
    text-transform: uppercase;
}
.table_type {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}
._left {
    text-align: left;
    color:#333;
}
._head_color {
    background-color: #333;
    color: #fff;
}
._total {
    background-color: rgb(232, 69, 69, .2);
}
.appintQty {
    font-size: 26px;
    color: var(--bad);
}


/* Check if I need this!!! */
.text1 {
    margin: 0;
    margin-bottom: 2px;

    color:rgb(57, 60, 65);
    
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.5;
}
.text2 {
    margin: 0;
    color: rgb(92, 94, 98);
    
    font-family: "Gotham Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.5;
}



/***  Instructor's Area  ***/
.instBlock {
    width: 100%;
    display: none;
    flex-wrap: wrap;
}
.instHeader {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.instHeaderImg {
    width:100%;
}
.instInner {
    margin: 15px 20px;
    width: 100%;
    display: block;
}
.instMenu {
    width:100%;
    display: flex;
    top: 60%;
    position: absolute;
    z-index: 1;
}
.instMenuItem {
    flex: 10%;
    font-size: 18px;
    text-align: center;
    margin: auto 5px;
    padding: 5px 10px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}
.red {
    background-color: #e84545;
    border: none;
}
.instName {
    color: hsl(218, 7%, 24%);
    font-size: 50px;
    letter-spacing: -1.5px;   
}
.usfulLinks {
    color: var(--calm);
    font-size: 22px;
    padding: 0 10px;
}




/*  Media requests  */

@media (max-width: 1025px) {
    ._hidden {
        display: flex;
    }
    ._shown {
        display: none;
    }
    .item__title {
        font-size: 35px;
    }
    .button_box {
        top: 75%;
    }
}
@media (max-width: 980px) {
    .image {
        width: 115%;
        margin-left: -7.5%;
    }
}
@media (max-width: 900px) {
    .menu__item1._general {
        display: none;
    }
    .menu__item1._general:last-child {
        display: block;
    }
    .generalMenu{
        flex: 10%;
    }
    ._generalInfo {
        flex: 85%;
    }
    .formsTitle {
        font-size: 20px;
    }
    .formsContainerRow {
        flex-direction: column;
    }
    .formsContainerButton {
        margin: 10px 30%;
    }
    .formsContainerRow > .formsContainerButton {
        margin-bottom: 0;
    }
    /* Status */
    ._media {
        width: 60%;
    }
    ._digit {
        width: 20%;
    }
}
@media (max-width: 850px) {
    .image {
        width: 130%;
        margin-left: -15%;
    }
}
@media (max-width: 750px) {
    .image {
        width: 150%;
        margin-left: -25%;
    }
    /* Schedule Tables */
    th, td {
        font-size: 14px;
    }
}
@media (max-width: 700px) {
    /* Status */
    .areaStep {
        min-height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        line-height: 1;
    }
    .areaBlock {
        font-size: 11px;
    }
    .areaBlock {
        min-width: 50px;
    }
    ._media {
        font-size: 14px;
    }
}
@media (max-width: 650px) {
    .image {
        width: 180%;
        margin-left: -40%;
    }
    /* Schedule Tables */
    th, td {
        font-size: 12px;
    }
}
@media (max-width: 600px) {
    .accGeneralInfo {
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
    }
    .menu__item1._general:last-child {
        text-align: right;
    }
    ._generalInfo {
        flex: 100%;
    }

    ._mediaBlock {
        flex-direction: column;
    }
    .arrow_down {
        height: 15px;
        margin: 0;
    }
    /* List Data */
    .mainDataTitle {
        font-size: 14px;
    }
    /* Schedule Tables */
    th, td {
        font-size: 11px;
    }
}
@media (max-width: 500px) {
    /* Side menu */
    .side__MenuItem {
        padding: 8px 35px;
    }
    .formsListItem {
        font-size: 16px;
    }
    .mainDataTitle {
        font-size: 12px;
    }
    /* Schedule Tables */
    th, td {
        font-size: 10px;
    }
}
@media (max-width: 450px) {
    /* .item__title {
        font-size: 28px;
    } */
    
    .generalTitle {
        font-size: 25px;
        white-space: nowrap;
        overflow-x: hidden;
    }
    .generalSubTitle {
        font-size: 14px;
    }
    .accBlockTitle {
        font-size: 12px;
        font-weight: lighter;
    }
    .formsTitle {
        font-size: 16px;
    }
    .formsContainerButton {
        margin: 5px 15%;
    }
    .formsListItem {
        font-size: 14px;
    }
    /* List Data */
    .list_type {
        font-size: 14px;
        padding-left: 20px;
    }
    /* Schedule Tables */
    th, td {
        font-size: 9px;
    }
}
@media (orientation: landscape) {

    #title2, #subtitle2 { color: #fff }
    
}

